/* calendarStyles.css */
.react-calendar {
  border: none;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #fff;
  border-radius: 10px;
}

.react-calendar__tile--active {
  background: #0d6efd;
  color: white;
}

.react-calendar__tile--now {
  background: #ffc107;
  color: black;
}
